a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1170px / 2);
    padding-right: calc(50% - 1170px / 2);
}

body {
    background-color: #020A18;
}

.main-header-navigation-menu {
    display: flex;
    padding-top: 39px;
    padding-bottom: 39px;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.main-header-navigation-menu-link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-content {
    padding-top: 160px;
    padding-bottom: 98px;
    display: flex;
    gap: 128px;
    align-items: flex-end;
}

.main-content-left-sub-header {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.main-content-left-header {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-content-left-text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
    width: 558px;
}

.main-content-left-buttons {
    display: flex;
    gap: 20px;
}

.button {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 30px;
    border: none;
}

.main-contain-img {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
}

.partners-logo {
    padding-top: 99px;
    padding-bottom: 99px;
    display: flex;
    justify-content: space-between;
}