@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');


a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1150px / 2);
    padding-right: calc(50% - 1150px / 2);
}

body {
    background-color: #020A18;
}

.main-header-navigation-menu {
    display: flex;
    padding-top: 39px;
    padding-bottom: 39px;
    list-style-type: none;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .main-header-navigation-menu-link {
    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} */

.main-content {
    padding-top: 160px;
    padding-bottom: 98px;
    display: flex;
    gap: 128px;
    align-items: flex-end;
}

.main-content-left-sub-header {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.main-content-left-header {
    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-content-left-text {
    color: var(--ffffff, #FFF);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
    width: 558px;
}

.main-content-left-buttons {
    display: flex;
    gap: 20px;
}

.button {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 30px;
    border: none;
}

.main-contain-img {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
}

.partners-logo {
    padding-top: 99px;
    padding-bottom: 99px;
    display: flex;
    justify-content: space-between;
}

.awards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.awards-subtitle {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 31.25px */
    opacity: 0.7;
    margin-bottom: 30px;
}

.awards-text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    opacity: 0.7;
    padding-bottom: 30px;
}

.awards-img {
    margin-bottom: 30px;
}

.awards-item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awards-big {
    display: grid;
    grid-area: 2 / 1 / 4 /3;
    align-items: stretch;
    justify-items: center;
}

.awards-big-img {
    margin-bottom: 60px;
}

.awards-big-subtitle {
    margin-bottom: 60px;
}

.awards-big-text {
    padding-bottom: 114px;
}