@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

body {
    background: #FFF;
}

.center {
    padding-left: calc(50% - 1170px / 2);
    padding-right: calc(50% - 1170px / 2);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 35px;
}

.header-menu-link {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.change-text-color {
    color: #F25822;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.grow-be {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-content {
    padding-top: 44px;
    padding-bottom: 162px;
    display: flex;
    gap: 41px;
}

.main-content-left {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 522px;
}

.main-content-left-header {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.main-content-left-sub-header {
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
    display: flex;
}

.main-content-buttons {
    display: flex;
    gap: 72px;
    align-items: center;

}

.start {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border: none;
    padding: 15px 35px;
}

.watch-video {
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.partners-logoes {
    padding-top: 97px;
    padding-bottom: 97px;
    display: flex;
    gap: 46.8px;
    justify-content: space-between;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.features-item {
    padding-top: 40px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}

.features-img {
    margin-bottom: 25px;
}

.features-subtitle {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.features-text {
    color: #666;
    font-family: "Gilroy-Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 25px;
    /* 22.5px */
}

.features-read-more {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
}

.features-shadow {
    padding-left: 30px;
    padding-right: 30px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.services {
    background: #FAFAFA;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 54px;
}

.services-header {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
}

.services-text {
    color: #666;
    text-align: center;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.services-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
    background: #FFF;
}

.services-items-item {
display: flex;
flex-direction: column;
align-items: center;
}

.services-info {
    padding: 0px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-items-item-header {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
}

.services-items-item-text {
    color: #AAA;
    text-align: center;
    font-family: "Gilroy-Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 39px;
    /* 22.5px */
}

.services-items-item-button {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    text-align: center;
    font-family: "Gilroy-Bold";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
    padding: 15px 35px;
    border: none;
}

.services-shadow {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}