body{
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.nav-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.main-header {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    color: #7D7987;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.sub-header {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 80px;
}

.img-style {
    border-radius: 10px;
    width: 800px;
}

.navigator-list {
    list-style-type: none;
}

.input-style {
    padding: 15px 15px;
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14;
    line-height: 30;
}

.form-button {

    width: 150px;
    height: 30px;
    font-size: 14;
    border: 1px solid #ccc;
    border-radius: 5px;
}

